* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71; 
}

a {
  color: #1e6bb8;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  /*background-color: rgba(255, 255, 255, 0.08);*/
  background-color: black;
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s; }
  .btn + .btn {
    margin-left: 1rem; }

.btn:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.3); }

@media screen and (min-width: 64em) {
  .btn {
    padding: 0.75rem 1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .btn {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem; } }

@media screen and (max-width: 42em) {
  .btn {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem; }
    .btn + .btn {
      margin-top: 1rem;
      margin-left: 0; } }

.page-header {
  color: #fff;
  text-align: center;
  background-color: black;
  /*background-image: linear-gradient(120deg, #155799, #159957);*/
  background-size: 100%;
  background-repeat: no-repeat;
}

@media screen and (min-width: 64em) {
  .page-header {
    padding: 5rem 6rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .page-header {
    padding: 3rem 4rem; } }

@media screen and (max-width: 42em) {
  .page-header {
    padding: 2rem 1rem; } }

.riddle-number {
  margin-top: 0;
  margin-bottom: 0.1rem; }

@media screen and (min-width: 64em) {
  .riddle-number {
    font-size: 3.25rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .riddle-number {
    font-size: 2.25rem; } }

@media screen and (max-width: 42em) {
  .riddle-number {
    font-size: 1.75rem; } }

.riddle {
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.7; }

@media screen and (min-width: 64em) {
  .riddle {
    font-size: 5.25rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .riddle {
    font-size: 4.15rem; } }

@media screen and (max-width: 42em) {
  .riddle {
    font-size: 3rem; } }

#riddle, #answer, #next, .headings {
  font-weight: bold;
}

#riddle { 
  margin-bottom: 0;
  font-size: 32px;
  color: white;
  opacity: 100%;
}

#placeholder {
  font-size: 24px;
}

.headings {
  color: black;
}

#answer-area {
  margin-top: 40px;
}